<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kuis 5</title>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
</head>
<body>
    <div id="app">
      <div>
        <input-name v-on:klik="setName($event)"></input-name>
      </div>
      <h1></h1>
      <ul>
          <li v-for="name">
          <b>{{name}}</b>
          </li>
      </ul>
    </div>
    
    <script>
     Vue.component('input-name', {
      data: () => ({ name: '' }),
        template: `
          <div>
            <input type="text" v-model="name">
            <button v-on:click="$emit('klik', name)">
              Update
            </button>
          </div>
          `
      })
      new Vue({
         el: '#app',
         data: () => ({ name: '' }),
         methods: {
          setName: function(textUpdate) {
              this.name = textUpdate;
          }
        }
      })
    </script>
</body>
</html>